html, body, #app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: helvetica;
}

div, ul {
  margin: 0;
  padding: 0;
}

.stretch {
  width: 100%;
  height: 100%;
}

.no-movies {
  background-color: white;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.h1 {
  margin: 0;
  color: white;
}

.movies {
  padding: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
}

.list {
  text-align: center;
  list-style: none;
  background-color: #E0E0E0;
  color: black;
  padding-top: 15px;
}
body{
  background-color: white;
}
#header{
  background-color: #19204A;
  color: white;
}
.description{
    text-align: center;
    width: 640px;
}
.movname{
    text-align: center;
    width: 640px;
}

.money {
  text-align: center;
  width: 640px;
}

.movie {
  min-height: 600px;
  border-radius: 25px;
  background-color: #9999FF;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-bottom: 10px;
}

img {
  width: 75px;
}

.description h4 {
  text-align: left;
}

.comments {
  text-align: left;
  margin-left: 10px;
}

.user {
  color: #660000;
}

form {
 margin-top: 10px;
 float: right;
}

.commentForm {
 width: 300px;
}
