html, body, #app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: helvetica;
}

div, ul {
  margin: 0;
  padding: 0;
}

.stretch {
  width: 100%;
  height: 100%;
}

.no-movies {
  background-color: white;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.h1 {
  margin: 0;
  color: white;
}

.movies {
  padding: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
}

.list {
  text-align: center;
  list-style: none;
  background-color: white;
  color: black;
}
body{
  background-color: white;
}
#header{
  background-color:gray;

}
.description{
    text-align: center;
    width: 640px;
}
.movname{
    text-align: center;
    width: 640px;
}

.money {
  text-align: center;
  width: 640px;
}

.movie {
  min-height: 600px;
}

img {
  width: 75px;
}
