<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<script src="./javascripts/app.js"></script>
<link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <meta charset="utf-8">
  <title>Top 10 Highest Grossing Movies</title>
</head>
<body>
  <div id='app' ng-app='app' ng-controller='mainCtrl'>
    <div class="panel panel-default">
      <div id = "header">
        <div class="panel-body row">
          <h1 class="col-md-8">Top 10 Highest Grossing Movies</h1>
          <h1 class="col-md-4">Welcome, {{user}}</h1>
        </div>
      </div>
    </div>

    <div ng-if='!movies.length' class='no-movies center stretch'>
      <h1 class='h1'>
        .
      </h1>
    </div>
    <div class="container">
      <ul ng-if='movies.length' class='list center stretch'>
        <li ng-repeat="m in movies | orderBy: '-votes'" class='movie row'>
          <div class="col-md-5">
            <h2 class="movname"><strong>{{ m.name }}  </strong><button class="glyphicon glyphicon-thumbs-up" ng-click="vote(m)"></button> {{m.votes}} votes <button class ="glyphicon glyphicon-thumbs-down" ng-click="downVote(m)"></button></h2>
            <h3 class="money"> Grossed: {{ m.money }} </h3>
            <iframe width="640" height="360" src="{{m.trailerUrl}}" frameborder="0" allowfullscreen></iframe>
            <div class = description>
              <h4> <strong>Plot Summary:</strong> {{ m.description }}</h4>
              <hr>
              <h4><strong>Comments:</strong></h4>
              <div class="comments" ng-repeat="comment in m.comments"><span class="user">{{comment.user}}: </span>{{ comment.comment }}</div>
              <form ng-submit="addComment(commentContent, m)">
                <input type="text" ng-model="commentContent" class="commentForm"></input>
                <button type="submit">Submit Comment</button>
              </form>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>

</body>
</html>
